.heading{
    background-color:#212121;
    height:60px;
}
.heading h1{
    color:antiquewhite;
    font-family:arial;
    font-weight:lighter;
    display:grid;
    justify-content: flex-start;
    align-content: flex-start;
}
.heading a{
    color:white;
    padding:50px;
    text-decoration: none;
    margin-top:-80px;

}
.heading nav{
    margin-top:-50px;
    margin-left:200px;
}
.art{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border:black solid 2px;
    border-radius:20px;
      margin-top:50px;
      margin-left:20px;
    height:250px;
    width:250px;
    background-image: url(img1.jpg);
    background-size: 100% 100%;
    
    background-repeat: no-repeat;
}
.art article{
    color:antiquewhite;
    font-size: larger;
}
.art a{
    text-decoration: none;
    font-size: large;
    color: antiquewhite;
    background-color:cornflowerblue;
    border-color: black solid 2px;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:50%;
    margin-top: 25px;
}
.main{
    margin:40px;
}
h1.headingtwo{
    display:flex;
    
    margin-top:-290px;
    margin-left:300px;
}
.main{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:auto;
    gap:30px;
    padding:20px;
    grid-template-areas:
    "jobone jobtwo jobthree"
    " jobfour jobfive jobfive";
}
.main{
    margin-left:300px;
    padding:20px;
}
.main .jobonea{
    background-color:coral;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:large;
    font-weight: 200;
}
 .joboneb a p{
    background-color: #212121;
   color:white;
    text-decoration: none;
    height: auto;
    width:100%;
    text-align:center;
}
.main .jobtwoa{
    background-color:aquamarine; 
    justify-content: center;
    align-items: center;
     height:fit-content;text-align: center;font-size:large;
    font-weight: 200;

}
 .jobtwob a p{
    color:white;
    text-decoration: none;
    background-color: #212121;
    height: auto;
    width:100%;
     text-align:center;
}
.main .jobthreea{
    background-color:lightskyblue;
     justify-content: center;
    align-items: center;text-align: center;font-size:large;
    font-weight: 200;
}
.jobthreeb a p{
    background-color: #212121;
    color:white;
    text-decoration: none;
    height: auto;
     text-align:center;
     width:100%;
}
.main .jobfoura{
    background-color:lightpink; 
    justify-content: center;
    align-items: center; text-align: center;font-size:large;
   font-weight: 200;
    
}
.jobfourb a p{
    background-color: #212121;
    color:white;
    text-decoration: none;
    height: auto;
    width:100%;
     text-align:center;
}
.main .jobfivea{
    background-color:mediumslateblue; 
    justify-content: center;
    align-items: center;
     text-align: center;font-size:large;font-weight: 200;
}
 .jobfiveb a p{
    background-color: #212121;
    color:white;
    text-decoration: none;
    height: auto;
    width:100%;
     text-align:center;
}
.main .jobone{
    border:black solid 2px;
    border-radius: 20px;
}
.main .jobtwo{
    border:black solid 2px;
    border-radius: 20px;
}
.main .jobthree{
    border:black solid 2px;
    border-radius: 20px;
}
.main .jobfour{
    border:black solid 2px;
    border-radius: 20px;
}
.main .jobfive{
    border:black solid 2px;
    border-radius: 20px;
}
.video{
    margin-top:-800px;
    margin-right:100%;
    margin-bottom:100px;
}
.login a{
    display:GRID;
    justify-content: center;
    align-items: center;
    background-color:black;
    color:white;
    font-size:larger;
}
.login{
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

}